@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-backgroundSecondary: var(--background-secondary);
  --color-sidebar: var(--sidebar);
  --color-input: var(--input);
  --color-btnHoverText: var(--btn-hover-text);
  --color-textPrimary: var(--text-primary);
  --color-textSecondary: var(--text-secondary);
  --color-textLoop: var(--text-loop);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-hover: var(--hover);
  --color-hoverPrimary: var(--hover-primary);
  --color-borderPrimary: var(--border-primary);

  --font-sans: var(--font-inter), inter;
  --font-header: var(--font-Poppins), poppins;
  --font-mono: var(--font-roboto-mono), roboto-mono;

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-ring: hsl(var(--ring));

  --radius: var(--radius);
}

.light {
  --background: #f2f3f7;
  --foreground: #140033;

  --background-secondary: rgba(255, 255, 255, 1);

  --sidebar: oklch(92.2% 0 0);

  --input: oklch(96.7% 0.001 286.375);

  --text-primary: #0a0a0a;
  --text-secondary: #475569;
  --text-loop: #cbd3e2;

  --primary: #1659e9;
  --secondary: #0d358c;
  --hover: #1147bb;

  --hover-primary: #f4f4f5;
  --btn-hover-text: #f7f6ff;

  --border-primary: #e7ebf3;

  /* Shadcn UI additions */
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
}

.dark {
  --background: #0b0b0d;
  --foreground: #f5f5fa;

  --background-secondary: rgba(0, 0, 0, 1);

  --sidebar: oklch(26.9% 0 0);

  --input: oklch(21% 0.006 285.885);

  --text-primary: #f7f6ff;
  --text-secondary: #e2e8f0;
  --text-loop: #2d2a35;

  --primary: #1659e9;
  --secondary: #0d358c;
  --hover: #1147bb;

  --hover-primary: #222125;
  --btn-hover-text: #0a0a0a;

  --border-primary: #141218;

  /* Shadcn UI additions */
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: color 0.3s ease;
}

html.light body::before {
  animation: paintDiagonal 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
html:not(.light) body::before {
  animation: unpaintDiagonal 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  background-color: var(--background);
}

@keyframes paintDiagonal {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 0);
  }
  100% {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@keyframes unpaintDiagonal {
  0% {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 0);
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
