@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    border-color: theme('colors.gray.200');
  }
  
  body {
    background-color: theme('colors.white');
    color: theme('colors.gray.900');
  }
}
